.options{
    height: 30px;
    width: 70%;
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px auto;
}

@media screen and (max-width: 850px){
    .options{
        display: none;
    }
}

.line{
    height: 5px;
    width: 100%;
    border-radius: 2.5px;
    opacity: .5;
}

.overlayLine{
    height: 5px;
    border-radius: 2.5px;
    position: absolute;
    top: 50%;
    margin-top: -2.5px;
    align-items: center;
    transition-property: width;
    transition-duration: 0.3s;
}

.touches{
    position: absolute;
    height: 30px;
    right: -12.5px;
    left: -12.5px;
    display: flex;
    justify-content: space-between;
}

.touch{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dot{
    height: 5px;
    width: 5px;
    border-radius: 2.5px;
    background: white;
    opacity: .5;
}

.tracker{
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: left;
    transition-duration: 0.3s;
}

.tracker img{
    width: 13px;
}