.instructions{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions p{
    max-width: 500px;
    margin: 15px 0 25px 0;
}

.instructions h3{
    margin: 0;
    color: orange;
}

.buttons{
    display: flex;
    align-items: center;
}

.buttons > *{
    margin: 0 15px;
}

.instructions button{
    padding: 15px 50px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.48px;
}

.lightButton{
    background-color: #002A42;
    color: white;
}

.darkButton{
    background-color: #FF8C00;
    color: white;
}