.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.header img{
    width: 150px;
}

.matter{
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

button.toggleTheme{
    padding: 15px 30px;
    background: orange;
    color: white;
    border: none;
    border-radius: 3px;
}