.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin-top: 20px;
}

.header img{
    width: 150px;
}

.toggleTheme img{
    width: 20px;
}

.matter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.matter p{
    margin-left: 30px;
}

button.toggleTheme{
    padding: 5px;
    border: none;
    border-radius: 3px;
}

@media screen and (max-width: 525px){
    .header{
        margin-bottom: 50px;
    }
}