.intro{
    display: flex;
}

.intro > div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.copy{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.copy p{
    margin-bottom: 15px;
}

.copy h1{
    margin: 0 0 25px 0;
}

.copy h2{
    margin: 0;
}

@media screen and (max-width: 850px){
    .intro{
        display: block;
        max-width: 600px;
        margin: 0 auto;
    }
    .intro > div{
        width: 100%;
    }
}

@media screen and (max-width: 525px){
    .intro{
        margin: 20px 0 40px 0;
    }
    .copy h1{
        font-size: 30px;
    }
    .copy h2{
        font-size: 20px;
    }
}