.footer{
    text-align: center;
    max-width: 600px;
    margin: 60px auto 0 auto;
    padding-bottom: 90px;
}

.footer p:first-child{
    margin-bottom: 15px;
}

.footer button{
    display: block;
    padding: 15px 30px;
    margin: 40px auto;
    background: orange;
    color: white;
    border: none;
    border-radius: 3px;
}

.footer img{
    width: 200px;
}