h1{
  font-family: 'Lato', sans-serif;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 1.68px;
  color: #002A42;
}

h1.dark{
  color: white;
}

h2{
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: lighter;
  letter-spacing: 0.88px;
  color: #1594E0;
}

h3{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  margin: 0;
  line-height: 22px;
  color: #FF8C00;
}

h4{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  margin: 0;
  line-height: 22px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  margin: 0;
  line-height: 22px;
}

p.dark {
  color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
