.left{
    width: 25%;
}

.left p{
    margin-bottom: 15px;
}

.readMore{
    border-radius: 3px;
    color: white;
    border: none;
    padding: 5px;
    letter-spacing: 0.6px;
    cursor: pointer;
    margin-bottom: 15px;
}

@media screen and (max-width: 875px){
    .left{
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
}