.slider{
    width: 80%;
    margin:  20px auto;
}

.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.options{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.slider h2{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing: 0;
    margin: 0;
    cursor: pointer;
}

.slider h3{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    letter-spacing: 0;
    margin: 0;
    line-height: 15px;
    color: #002A42;
    max-width: 60%;
}

.tip{
    background: #E9E9E9;
    border-radius: 3px;
    padding: 20px;
    position: absolute;
    left: 120%;
    width: 300px;
}

.triangle{
    position: absolute;
    left: 117%;
    width: 11px;
    height: 13px;
}